@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-font: #000;
  --highlight: #F33636;
  --l-highlight: #F66F6F;
  --l-font: #808080;
  --background: #ffffff;
}

html, body, button {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

Link {
  font-family: 'Inter', sans-serif;
}