.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.screens {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
}

.myScreen,
.userScreen {
    border-radius: 2rem;
    background-color: var(--l-font);
    height: fit-content;
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.sideMenu {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.accountInfo {
    border: black solid 1px;
    border-radius: 2rem;
    width: 40rem;
    height: 60rem;
}

.makeACall {
    border-radius: 2rem;
    border: black solid 1px;
    width: 40rem;
    height: 20rem;
}

.essentials {
    display: flex;
    font-size: 3rem;
    padding: 1rem;
    justify-content: space-between;
}

.name {
    align-self: center;
    background: #fff;
    height: fit-content;
    padding: .2rem 2rem;
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.hangBtn {
    align-self: flex-end;
    border-radius: 100%;
    border: none;
    background-color: var(--highlight);
    padding: 1.5rem;
    cursor: pointer;
}

.accountInfo,
.makeACall {
    padding: 3rem;
}

.aLabel,
.cLabel {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    row-gap: 1rem;
}

.aText,
.cText {
    border: none;
    border-bottom: black solid 1px;
    font-size: 1.8rem;
}

.aText:focus,
.cText:focus {
    outline: none;
    border-bottom: black solid 2px;
}


.aBtn,
.cBtn {
    margin-top: 1rem;
    background: var(--highlight);
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: black solid 3px;
    border-radius: .5rem;
}

.cBtn {
    background: #5FFF8D;
}

.list {
    font-size: 2rem;
    font-weight: 500;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 2rem 2rem 0 0;
}

.warning {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ff0000;
}

@media all and (min-width: 1440px) and (max-width: 2559px) {
    .myScreen,
    .userScreen {
        width: 50rem;
    }
}

@media all and (min-width: 1240px) and (max-width: 1440px) { 
    .screens {
        column-gap: 2rem;
    }
    .myScreen,
    .userScreen {
        width: 40rem;
    }

    .list {
        font-size: 1.8rem;
    }

  }
@media all and (min-width: 1024px) and (max-width: 1240px) {
    .container {
        flex-direction: column;
    }

    .screens {
        column-gap: 2rem;
        height: fit-content;
    }
    .myScreen,
    .userScreen {
        margin-top: 3rem;
        align-self: flex-start;
        width: 45rem;
    }

    .list {
        font-size: 1.5rem;
    }
    .sideMenu {
        row-gap: 1rem;
    }
    .accountInfo,
    .makeACall {
        height: fit-content;
        width: 75vw;
    }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
    .screens {
        column-gap: 2rem;
        height: fit-content;
    }
    .myScreen,
    .userScreen {
        margin-top: 3rem;
        align-self: flex-start;
        width: 36rem;
    }

    .list {
        font-size: 1.5rem;
    }
    .sideMenu {
        row-gap: 1rem;
    }
    .accountInfo,
    .makeACall {
        height: fit-content;
        width: 75vw;
    }
 }
 
@media all and (min-width: 640px) and (max-width: 768px) { 
    .container {
        flex-direction: column;
    }
    .screens {
        column-gap: 2rem;
        height: fit-content;
    }
    .myScreen,
    .userScreen {
        margin-top: 3rem;
        align-self: flex-start;
        width: 30rem;
    }

    .list {
        font-size: 1.5rem;
    }
    .sideMenu {
        row-gap: 1rem;
    }
    .accountInfo,
    .makeACall {
        height: fit-content;
        width: 90vw;
    }
}
@media all and (min-width: 480px) and (max-width: 640px) {
    .container {
        flex-direction: column;
    }
    .screens {
        column-gap: 2rem;
        height: fit-content;
    }
    .myScreen,
    .userScreen {
        margin-top: 3rem;
        align-self: flex-start;
        width: 25rem;
    }

    .list {
        font-size: 1.5rem;
    }
    .sideMenu {
        row-gap: 1rem;
    }
    .accountInfo,
    .makeACall {
        height: fit-content;
        width: 90vw;
    }

}
@media all and (max-width: 480px) {
    .container {
        flex-direction: column;
    }
    .screens {
        flex-direction: column;
        column-gap: 2rem;
        height: fit-content;
    }
    .myScreen,
    .userScreen {
        margin-top: 3rem;
        align-self: flex-start;
        width: 35rem;
    }

    .list {
        font-size: 1.5rem;
    }
    .sideMenu {
        row-gap: 1rem;
    }
    .accountInfo,
    .makeACall {
        height: fit-content;
        width: 90vw;
    }
 }